:root {
  --background--gradient: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(<path-to-image>),
    lightgray -92.862px -321.509px / 115.651% 278.574% no-repeat;
  --font-family: "Nunito", sans-serif;
  --primarly-color: #224b0c;
  --secondary-color: #c1d5a4;
  --third-color: #f7ffe5;
}

.navbar-brand {
  color: var(--primarly-color);
  font-family: var(--font-family);
}

.card .card-img {
  opacity: 0.75;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 215px;
  margin: auto;
  object-fit: cover;
  gap: 100px;
}

.card-title-1 {
  color: var(--third-color);
  font-family: var(--font-family);
  text-align: center;
  font-size: 72px;
  font-weight: 700;
}

.card-text-1 {
  margin: auto;
  width: 560px;
  flex-direction: column;
  color: var(--third-color);
  text-align: center;
  font-size: 24px;
  font-family: var(--font-family);
  font-weight: 1000;
  line-height: 35px;
}

.favorite_1 {
  position: absolute;
  left: 0;
  right: 0;
  width: 60%;
  height: 135px;
  margin: auto;
  object-fit: cover;
  font-size: medium;
  padding: 10px 120px;
}

.qoute_1 {
  color: var(--secondary-color);
  font-family: var(--font-family);
  background-color: var(--secondary-color);
}

.about_me {
  font-family: var(--font-family);
  color: var(--primarly-color);
}

.about_me_description {
  padding: 110 60px;
  font-size: 20px;
  font-family: var(--font-family);
  font-weight: 200;
  text-align: center;
  color: #224b0c;
}

.name_2 {
  display: flex;
  width: 460px;
  flex-direction: column;
  flex-shrink: 0;
  color: var(--primarly-color);
  font-size: 50px;
  font-family: var(--font-family);
  font-weight: 700;
  background-color: var(--secondary-color);
  text-align: center;
}

.title_books {
  background-color: var(--secondary-color);
  font-family: var(--font-family);
  color: var(--third-color);
}

.qoute_2 {
  text-align: center;
  padding: 50px 100px;
  font-family: var(--font-family);
  color: var(--primarly-color);
  font-weight: 700;
  font-size: x-large;
}

.links_Social {
  font-size: medium;
  display: flex;
  justify-content: end;
}

.fancy_title {
  font-size: small;
  font-weight: 400;
  color: var(--secondary-color);
  font-family: var(--font-family);
}

.fancy_link {
  text-decoration: none;
  color: var(--primarly-color);
  display: flex;
}

@media (max-width: 900px) {
  .about_me_description {
    padding: 0;
    text-align: center;
  }
}
